
*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0px;
}
body {
    /* min-height: 200vh; */
    background-color: #a87ca0;
}
div section article {
    padding-top: 30px;
}
.jumbotron_heading{
    padding:20px;
    color:#434a54
}
.panel {
    min-height: 300px;
}

#panel-title{
    margin: 0%;
}
.container section{
    padding: 5px 5px;
}
footer {
    background-color: blanchedalmond;
}
footer nav .footer-nav {
    margin-left: auto;
}
/* .navbar-custom .navbar-toggle {
    position: relative;
    background-color: #50c1e9;
    border-color: #50c1e9;
}
nav .footer {
    background-color: #875f9a;
} */
