
*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0px;
}
#bigbody {
    background-color: #50c1e9;
}
div section article {
    padding-top: 30px;
}
.jumbotron_heading{
    padding:20px;
    color:#434a54
}
.panel {
    min-height: 200px;
}
#panel-title{
    margin: 0%;
}
.container section{
    padding: 5px 5px;
}
#jumbocontainer {
    padding: 30px
}

