
*{
    box-sizing: border-box;
    margin: 0 0;
    padding: 0px;
}
#bigbody {
    background-color: #50c1e9;
}
#drinkbox {
    max-height: 400px;
}
article {
    padding: 30px;
}
#buttonholder{
    padding: 10px 10px;
}
#image {
    max-height: 200px;
    padding: 10px 10px 10px;
}
.jumbotron_heading{
    padding:20px;
    color:#434a54
}
.panel {
    min-height: 200px;
}
#panel-title{
    margin: 0%;
}
.container section{
    padding: 5px 5px;
}
#jumbocontainer {
    padding: 30px
}

